<turbo-frame id="turbo-frame-replace" data-turbo-action="replace">
  <a href="/turbo-frame-replaced">
    Click me to fetch frame content and replace the current page's URL as well.
  </a>
</turbo-frame>